gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
.cxx/

# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
# Dotenv file
.env
.env.* # Jika Anda menggunakan multiple .env files (misal .env.production)
key.properties
**/*.keystore
**/*.jks
